name: Build ZMK firmware
on:
  workflow_dispatch:
  push:
    paths:
      - "config/**"
      - "boards/**"
      - "zephyr/**"
      - "build.yaml"
      - .github/workflows/build.yml

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.2
